main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer > button {
  margin: 1% 10%;
}

.commentInfoContainer {
  display: flex;
  flex-wrap: nowrap;
}

.commentInfoContainer > p {
  margin: auto;
}