main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer > button {
  margin: 1% 10%;
}

.commentInfoContainer {
  display: flex;
  flex-wrap: nowrap;
}

.commentInfoContainer > p {
  margin: auto;
}

.userInfoContainer {
  display: flex;
  flex-wrap: nowrap;
}

.userInfoContainer > p {
  margin: auto;
}

.userProfileAvatar {
  width: 100rem;
  max-width: 350px;
}

.avatarContainer {
  text-align: center;
}

.unapprovedPostImage {
  max-width: 50%;
}

.cards-column {
  text-align: center;
  text-align: -webkit-center;
}

.cards-column ul {
  text-align: left;
  text-align: -webkit-left;
}

.cards-column div {
  text-align: left;
  text-align: -webkit-left;
}